@model IEnumerable<HappinessSurvey.DAL.questiontbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.question)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.q_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.q_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.q_id })
        </td>
    </tr>
}

</table>
