@model HappinessSurvey.DAL.teamtbl

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<h2>Add Team</h2>
<div class="box">
    <div class="box-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.pro_id, "Project name :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("pro_id", null, "-select-", htmlAttributes: new { @class = "form-control", @data_val = "true", @data_val_required = "Project Name is required" })
                        @Html.ValidationMessageFor(model => model.pro_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.user_id, "user name :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("user_id", null, "-select-", htmlAttributes: new { @class = "form-control", @data_val = "true", @data_val_required = "User Name is required" })
                        @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.role_id, "role name :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("role_id", null, "-select-", htmlAttributes: new { @class = "form-control", @data_val = "true", @data_val_required = "Role Name is required" })
                        @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>