@model HappinessSurvey.DAL.teamtbl

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<h2>Delete</h2>
<div class="box">
    <h3>Are you sure you want to delete this?</h3>
    <div class="box-body">

        <hr />
        <dl class="dl-horizontal">
            <dt>
              Project Name :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.projecttbl.pro_name)
            </dd>

            <dt>
               Role Name :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.roletbl.role_name)
            </dd>

            <dt>
               User Name :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserTbl.user_name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
