@model IEnumerable<HappinessSurvey.DAL.teamtbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<h2>Team List</h2>

<div class="box">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <div class="box-body">
<table class="table">
    <tr>
        <th>
           Project Name :
        </th>
        <th>
           Role Name :
        </th>
        <th>
           User Name :
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.projecttbl.pro_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roletbl.role_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTbl.user_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.team_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.team_id })
        </td>
    </tr>
}

</table>
</div>
</div>