
@{
    Layout = null;
    //  @Html.RenderAction("", "Home")
    //var user = TempData["user_name"].ToString();
    //var dep = TempData["dep_name"].ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MainView</title>
    @Styles.Render("~/css")
    @Scripts.Render("~/js")
    @Styles.Render("~/Content/bootstrap/css/bootstrap")
    @RenderSection("script", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>H</b>S</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Happiness Survey</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button  "sidebar-toggle"-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="glyphicon glyphicon-list"></span>
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Hello,
                                <span class="hidden-xs"><strong>@TempData["user_name"].ToString()</strong></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                @*<li class="user-header">

                                    </li>*@
                                <li class="user-body">
                                    Department :  <strong>@TempData["dep_name"].ToString()</strong>

                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">

                                    <div class="pull-right">
                                        <input type="button" class="btn btn-default btn-flat" value="Log Out" onclick="location.href='@Url.Action("Logout", "Home")'" />

                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">

                    <p>Alexander Pierce</p>

                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    @{ int rvalue = Convert.ToInt32(Session["RoleID"]);}
                    @if (Session["RoleID"] != null)
                    {
                        if (rvalue == 1)
                        {
                            <li>
                                <a href="@Url.Action("Dashboard","Home")">
                                    <i class="glyphicon glyphicon-dashboard"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","question")">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    <span>Question Management</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Addproject")">
                                    <i class="glyphicon glyphicon-open-file"></i>
                                    <span>Project Management</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Department")">
                                    <i class="glyphicon glyphicon-th"></i>
                                    <span>Department Management</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Team")">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                    <span>Assign Project</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","AddUser")">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span>User Management</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                @*<b>Version</b> 2.3.0*@
            </div>
            <strong>Created By <a href="">Reena Vankar</a>.</strong>
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->

        </aside><!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
</body>

</html>
