
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forget Password</title>
    @Styles.Render("~/css")
    @Scripts.Render("~/js")
    @Styles.Render("~/Content/bootstrap/css/bootstrap")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Happyness Survey</b></a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <hr />
                    <div class="text-success ">
                        @ViewBag.Message
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-md-10">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            @Html.TextBox("EmailID", "", new { @class = "form-control" })
                           </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
            }
        </div>
        </div>
</body>
</html>
