@model IEnumerable<HappinessSurvey.DAL.UserTbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<h2>User List</h2>
<div class="box">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="box-body">
        <table class="table">
            <tr>
                <th>
                    Name :
                </th>
                <th>
                    Email :
                </th>
                @*<th>
                       .user_Pass)
                    </th>*@
                <th>
                    Department :
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.user_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user_mail)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.user_Pass)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.departmenttbl.dep_name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.user_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.user_id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>