@model List<SelectListItem>

@{
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Questionlist</title>
</head>
<body>
    
       
    <div class="box">
        @using (Html.BeginForm("Index", "GenerateSurvey", FormMethod.Post))
        {
        <div class="box">
            @*item of type 'IEnumerable<SelectListItem>
                ' that has the key 'Department'.*@

                <div class="box-body">
                    <div class="box-success">
                        <div class="form-group">
                            @*<div class="col-xs-4">
                                Select Department:
                                @Html.DropDownList("Departmentddl", (IEnumerable<SelectListItem>)ViewData["Department"], new { @class = "form-control" })
                            </div>*@
                            <div class="col-xs-4">
                                Select Project :
                                @Html.DropDownList("Projectddl", (IEnumerable<SelectListItem>)ViewData["Project"], new { @class = "form-control" })
                                </div>
                                <div class="col-xs-4">
                                    Select Role:
                                    @Html.DropDownList("Roleddl", (IEnumerable<SelectListItem>)ViewData["Role"], new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
            <table class="table table-bordered">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m[i].Selected)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m[i].Text)
                            @Html.HiddenFor(m => m[i].Value)
                            @Html.HiddenFor(m => m[i].Text)
                        </td>
                    </tr>

                }

            </table>

            <input type="submit" value="Submit" class="btn btn-success" />

            <br />

        }
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>
        }
    </div>
</body>
</html>
